<body>
		<section >
			<div >

				<div class="contenedor"> 
					<div class="centrado1" routerLink="/catalogo">Accede a nuestro catálogo</div>
					<div class="centrado">Rápidez, confianza, seguridad</div>
					<img class="sellofoto" src="assets/LOGO5.png" width= 200px height=100px />
					<img 
					srcset="assets/img/01_Principal/p4_z1.jpg 528w,
             					assets/img/01_Principal/p4_z4.jpg 944w,
					           assets/img/01_Principal/ p4_z4.jpg 1688w"
					     sizes="(max-width: 320px) 280px,
					            (max-width: 480px) 440px,
					            800px"
					 src="assets/img/01_Principal/p4_z4.jpg" style="width:100%" alt="Slide Image">
				</div>
				
			</div>

		</section>

		<section class="testimonial-fancy">
			<div class="container">
				<div class="testimonial-body">
					<h2 class="sr-only">TESTIMOMIAL</h2>
					<i class="fa fa-quote-left"></i>
					<p class="testimonial-bubble">
						Somos una Agencia de Servicios Inmobiliarios, nuestro trabajo principal es SERVIR.
						Cuando usted se contacta con INMOVIVIENDA va a tener la seguridad de encontrarse con agentes inmobiliarios profesionales, que están preparados para servirle. Ellos le brindarán información, apoyo y lo atenderán con su requerimiento. Permítanos servirle, y guiarle a realizar un buen negocio para usted y su familia.
					</p>
					<div class="testimonial-author">
						<img src="assets/DanielE.jpg" alt="Author" class="pull-left">
						<span><span class="author-name">Daniel Espinosa</span> <em>CEO de Inmovivienda</em></span>
					</div>
				</div>
			</div>
		</section>

		<section class="team">
			<div class="container">
				<h2 class="section-heading margin-bottom-30px">Nuestro equipo</h2>
				<div class="section-content">
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/MarycarmenO.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Marycarmen Orellana</h3>
								<strong>Directora de ventas</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0987015393</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/MarielyZ.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Mariely Zurita</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0980477700</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/GeovannaG.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Geovanna Gortaire</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0978641825</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/JanellaL.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Janella Lombeida</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0990336469.</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/VeronicaG.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Verónica Gallegos</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0958919584</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/MarielyZ.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Belén Alarcón</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. Telf. 0983593749</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/GeovannaG.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Isabel Ron</h3>
								<strong>Assesora inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p>Telf. 0999807657</p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/TuImangen.jpg" class="media-object img-circle pull-left" alt="" />
							<div class="media-body">
								<h3 class="media-heading team-name">Nos faltas tú</h3>
								<strong>Assesor inmobiliaria</strong>
								<hr class="pull-left">
								<div class="clearfix"></div>
								<p></p>
								<ul class="list-inline social-icon">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- COLUMN 1 -->
						<h3 class="sr-only">Acerca de nosotros</h3>
						<img src="assets/LOGO5.png" class="logo" alt="Repute">
						<p>Servicios:</p>
						<p>	• Promoción Inmobiliaria  </p>
						<p>	• Ventas de Inmuebles</p>
						<p>	• Alquiler</p>
						<p>	• Avalúos Comerciales</p>
						<p>	• Transferencias de Dominio</p>

						<br>
						<address class="margin-bottom-30px">
							<ul class="list-unstyled">
								<li>Shyris y Eloy Alfaro
									<br/> Quito Ecuador</li>
								<li>Teléfono: 0998127069</li>
								<li>Email: inmovivienda@inmoviviendaquito.net</li>
							</ul>
						</address>
						<!-- END COLUMN 1 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 2 -->
						<h3 class="footer-heading">Nuestro Links</h3>
						<div class="row margin-bottom-30px">
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#" routerLink="/principal">Acerca de nosotros</a></li>
									<li><a href="#" routerLink="/servicios">Servicios</a></li>
									<li><a href="#">Bolsa de empleo</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
							<div class="col-xs-6">
								<ul class="list-unstyled footer-nav">
									<li><a href="#">Press Kit</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!-- END COLUMN 2 -->
					</div>
					<div class="col-md-4">
						<!-- COLUMN 3 -->
						<div class="newsletter">
							<h3 class="footer-heading">NEWSLETTER</h3>
							<p>Get the latest update from us by subscribing to our newsletter.</p>
							<form class="newsletter-form" method="POST">
								<div class="input-group input-group-lg">
									<input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
									<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
									</span>
								</div>
								<div class="alert"></div>
							</form>
						</div>
						<div class="social-connect">
							<h3 class="footer-heading">GET CONNECTED</h3>
							<ul class="list-inline social-icons">
								<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<!-- END COLUMN 3 -->
					</div>
				</div>
			</div>
			<!-- COPYRIGHT -->
			<div class="text-center copyright">
				&copy;2020 Inmoviviendaquito. All Rights Reserved.
			</div>
			<!-- END COPYRIGHT -->
		</footer>

		
</body>

