
<div class="card" style="width: 18rem;">
  <img src="assets/casa2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">¿Quieres vender tu propiedad?</h5>
    <p class="card-text">Permitenos asesorarte con tu transacción de bienes muebles</p>

  </div>

</div>
<div class="card" style="width: 18rem;">
  <img src="assets/casa1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Únete a trabajar con nosotros</h5>
    <p class="card-text">Inmovivienda te abre las puertas a desarrollarte como agente inmobiliario</p>

  </div>
</div>