<h2  class="Titulo1" align="Left">Inmovivienda: </h2>

	<h3 class="Parrafo1" align="Justify" >Somos una Agencia de Servicios Inmobiliarios, nuestro trabajo principal es SERVIR. </h3>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >Cuando usted se contacta con INMOVIVIENDA va a tener la seguridad de encontrarse con agentes inmobiliarios profesionales, que están preparados para servirle. Ellos le brindarán información, apoyo y lo atenderán con su requerimiento. Permítanos servirle, y guiarle a realizar un buen negocio para usted y su familia. </h3>
	<p> </p>
	<p> </p>
<h2  class="Titulo1" align="Left">Nuestro equipo:</h2>
	<p>  </p>
	<h3 class="Parrafo1" align="Justify">Un equipo joven y profesional para atenderle se encuentra a su disposición </h3>
	<p> </p>

<div class="card" >
    <div class="row" style="width: 48rem;" align="center">
     
      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN"> Marycarmen Orellana </h5>
             <p class="FotosT">Telf. 0987015393</p>      
          </div>
          <img src="assets/MarycarmenO.jpg" class="card-img-top" height="180"    alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Daniel Espinosa</h5>
             <p class="FotosT">Telf. 0998127069</p>      
          </div>
          <img src="assets/DanielE.jpg" class="card-img-top" height="180"    alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>
	  
      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Mariely Zurita</h5>
             <p class="FotosT">Telf. 0980477700</p>      
          </div>
          <img src="assets/MarielyZ.jpg" class="card-img-top" height="180"    alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Geovanna Gortaire</h5>
             <p class="FotosT">Telf. 0978641825</p>      
          </div>
          <img src="assets/GeovannaG.jpg" class="card-img-top" height="180"   alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Janella Lombeida</h5>
             <p class="FotosT">Telf. 0990336469</p>      
          </div>
          <img src="assets/JanellaL.jpg" class="card-img-top" height="180"   alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Verónica Gallegos</h5>
             <p class="FotosT">Telf. 0958919584</p>      
          </div>
          <img src="assets/VeronicaG.jpg" class="card-img-top" height="180"    alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Belén Alarcón</h5>
             <p class="FotosT">Telf. 0983593749</p>      
          </div>
          <img src="assets/BelenA.jpg" class="card-img-top" height="180"    alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>

      <div class="col-md-4 p4" >
        <div class="card card-photo" >
          <div class="card-title">
            <h5 class="FotosN">Isabel Ron</h5>
             <p class="FotosT">Telf. 0999807657</p>      
          </div>
          <img src="assets/IsabelR.jpg" class="card-img-top"  height="180"  alt="..." >
          <div clas ="card-body">
          	 <p class="FotosT"></p>  
          </div>
          <p class="card-text"></p>  
        </div>
      </div>            



    </div>
  </div>

<p> </p>

<h2  class="Titulo1" align="Left">Servicios: </h2>

<h2  class="Titulo2" align="Left">•	Promoción Inmobiliaria </h2>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >Promocionamos tu propiedad, a través de todos los canales tecnológicos inmobiliarios y sobre todo a través de nuestra red de colaboradores lo que nos permite ampliar nuestra capacidad de atención. </h3>
	<p> </p>
	<p> </p>
<h2  class="Titulo2" align="Left">•	Ventas de Inmuebles </h2>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >Con más de 3 millones de dólares comercializados en nuestra inmobiliaria, nos hemos posicionado como una agencia sólida que garantiza que sus procesos de venta sean: efectivos, rápidos y seguros para las partes.</h3>
	<p> </p>
	<p> </p>

<h2  class="Titulo2" align="Left">•	Alquiler </h2>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >Contamos con una amplia oferta inmobiliaria de bienes disponibles para la renta en Quito, también mediante nuestra red de colaboradores podemos conseguir la propiedad que se ajusta a sus requerimientos, a fin de que obtenga el lugar que usted está esperando.</h3>
	<p> </p>
	<p> </p>
<h2  class="Titulo2" align="Left">•	Avalúos Comerciales </h2>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >Nuestro servicio especializado de Avalúos Comerciales permite tomar mejores decisiones a la hora de vender su propiedad. Si hacemos una oferta atractiva y competitiva en el mercado, el tiempo de venta de su propiedad se reduce significativamente. </h3>
	<p> </p>
	<p> </p>

<h2  class="Titulo2" align="Left">•	Transferencias de Dominio </h2>
	<p> </p>
	<h3 class="Parrafo1" align="Justify" >El proceso de transferencia de domino es vital en la negociación de su propiedad, de esto depende que su compra – venta se resuelva en meses o en semanas. La agilidad en los procesos que podemos controlar es imprescindible para reducir significativamente el tiempo de venta de un inmueble.  </h3>
	<p> </p>
	<p> </p>

	<p> </p>
<h2  class="Titulo1" align="Left">Nuestro catálogo:</h2>
<div class="card" >
 <div class="card-body">

    
</div>

    <div class="row">
      <div class="col-md-4 p4" *ngFor="let photo of photos">
        <div class="card card-photo" >
          <div class ="card-header">
            {{photo.transaccion}}
            
          </div>
          <img [src]="'http://165.227.20.230:4000/'+ photo.imagePath" class= "img-card-top w-100" >
          <div clas ="card-body">
            {{photo.precio}}
          </div>
          <p class="card-text"></p>
          
        </div>
        
      </div>
      
  </div>



</div>





    
