
<div class="row" *ngIf="!photo; else main_content">
	<h1>Loading...</h1>
	
</div>


<ng-template #main_content>
<div class="row">
	<div clas=col-md-5>
		<div class="card">
			<img [src]="'http://localhost:4000/'+ photo.imagePath" 
			class="img-fluid">
			
		</div>

	</div>
		<div class="col-md-7">
			<div class="card">
				<form class="card-body" (submit)="updatePhoto(title, description)">		
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Título de la fot" [value]="photo.title" #title>
					</div>
					<div class="form-group">
							<textarea rows="2" class="form-control" placeholder="descripción" [value]="photo.description" #description></textarea>
						
					</div>
					<button class="btn btn-primary btn-block">
						actualizar
					</button>
				</form>
				
			</div>
			
		</div>
		
	</div>
	

<button class="btn btn-danger" (click)="deletePhoto(photo._id)">
	elimianra

</button>

</ng-template>



