<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 2.5rem;">
 <div class="container">  
 	<a class="navbar-brand" routerLink=""> {{user1}}: Nuevo Proyecto </a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 	 </button>
  	<div class="collapse navbar-collapse" id="navbarNav">
   	 <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Login</a>
      </li>
   	  
      <li class="nav-item">
        <a class="nav-link" routerLink="/photos/{{idv}}" >tus proyectos</a>
      </li>
  

    </ul>
  </div>
 </div>

</nav>




<div class="col-lg-4 mx-auto">
	<div class="card">
			<div class="card-header">
					Ingresa los datos
			</div>

			<div clas="card-body" align= "center">
				<form (submit)="uploadPhoto(venta, precio, sector, metros, caracteristicas, vendedor)">
					<input  class="d-none" [value]=idv  #vendedor >
					<div class="form-group">
						<select id="L1" class= "form-control" required #venta>
						  <option value="VENTA">VENTA</option>
						  <option value="ALQUILER">ALQUILER</option>
						  <option value="OTRO">OTRO</option>
						</select>
					</div>

					<div class="form-group">
						<input id="L2" type="number"  class= "form-control" placeholder="Precio" required #precio > 
					</div>

					<div class="form-group">
						<select id="L3" class= "form-control" required #sector>
						  <option value="Norte">Norte</option>
						  <option value="Sur">Sur</option>
						  <option value="Centro norte">Centro norte</option>
						  <option value="Centro norte">Valles</option>
						  <option value="Provincia">Provincia</option>
						</select>
					</div>

					<div class="form-group">
						<input id="L4" type="number"  class= "form-control" placeholder="metros" required #metros > 
					</div>
					
					<div class="form-group">
						<textarea id="L5" rows="2" class="form-control" placeholder="Características principales" required #caracteristicas ></textarea>
					</div>


				<input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>	
				<img id="casa"  class="img-fluid" [src]="photoSelected || 'assets/no-image.png'" alt="No Images" (click)="photoInput.click()">




				
					<form >
						<canvas id="mycanvas"  width="330" height="200">

		    			</canvas>

						<p><button (click)="dibujar()" >Foto</button>
						<button (click)="dibujar1()" >Sombra</button>
						<button (click)="dibujar2()" >Letras</button></p>


					</form >

						<button class="btn btn-primary btn-block" type="">
							Grabar
						</button>
			</form>
	
			</div>
	</div>
	
</div>

 
